In this project, I'll work with exit surveys from employees of the [Department of Education, Training and Employment](https://en.wikipedia.org/wiki/Department_of_Education_and_Training_(Queensland)) (DETE) and the Technical and Further Education (TAFE) institute in Queensland, Australia. You can find the TAFE exit survey [here](https://data.gov.au/dataset/ds-qld-89970a3b-182b-41ea-aea2-6f9f17b5907e/details?q=exit%20survey) and the survey for the DETE [here](https://data.gov.au/dataset/ds-qld-fe96ff30-d157-4a81-851d-215f2a0fe26d/details?q=exit%20survey).

I'll play the role of data analyst and pretend my __stakeholders want to know the following__ :
*  Are employees who only worked for the institutes for a short period of time resigning due to some kind of dissatisfaction? What about employees who have been there longer?
*  Are younger employees resigning due to some kind of dissatisfaction? What about older employees?

In [2]:
import pandas as pd
import numpy as np
dete_survey = pd.read_csv("dete_survey.csv")
tafe_survey = pd.read_csv("tafe_survey.csv")

Now let's take a look on __basic informaion__ about our dataframes

In [39]:
dete_survey.shape

(822, 56)

In [40]:
dete_survey.dtypes

ID                                      int64
SeparationType                         object
Cease Date                             object
DETE Start Date                        object
Role Start Date                        object
Position                               object
Classification                         object
Region                                 object
Business Unit                          object
Employment Status                      object
Career move to public sector             bool
Career move to private sector            bool
Interpersonal conflicts                  bool
Job dissatisfaction                      bool
Dissatisfaction with the department      bool
Physical work environment                bool
Lack of recognition                      bool
Lack of job security                     bool
Work location                            bool
Employment conditions                    bool
Maternity/family                         bool
Relocation                               bool
Study/Travel                             bool
Ill Health                               bool
Traumatic incident                       bool
Work life balance                        bool
Workload                                 bool
None of the above                        bool
Professional Development               object
Opportunities for promotion            object
Staff morale                           object
Workplace issue                        object
Physical environment                   object
Worklife balance                       object
Stress and pressure support            object
Performance of supervisor              object
Peer support                           object
Initiative                             object
Skills                                 object
Coach                                  object
Career Aspirations                     object
Feedback                               object
Further PD                             object
Communication                          object
My say                                 object
Information                            object
Kept informed                          object
Wellness programs                      object
Health & Safety                        object
Gender                                 object
Age                                    object
Aboriginal                             object
Torres Strait                          object
South Sea                              object
Disability                             object
NESB                                   object
dtype: object

In [42]:
dete_survey.head(3)

,ID,SeparationType,Cease Date,DETE Start Date,Role Start Date,Position,Classification,Region,Business Unit,Employment Status,...,Kept informed,Wellness programs,Health & Safety,Gender,Age,Aboriginal,Torres Strait,South Sea,Disability,NESB
0,1,Ill Health Retirement,08/2012,1984,2004,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,Yes
1,2,Voluntary Early Retirement (VER),08/2012,Not Stated,Not Stated,Public Servant,AO5-AO7,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,NaN
2,3,Voluntary Early Retirement (VER),05/2012,2011,2011,Schools Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,N,N,N,Male,61 or older,NaN,NaN,NaN,NaN,NaN

In [43]:
tafe_survey.shape

(702, 72)

In [44]:
tafe_survey.dtypes

Record ID                                                                                                                                                        float64
Institute                                                                                                                                                         object
WorkArea                                                                                                                                                          object
CESSATION YEAR                                                                                                                                                   float64
Reason for ceasing employment                                                                                                                                     object
Contributing Factors. Career Move - Public Sector                                                                                                                 object
Contributing Factors. Career Move - Private Sector                                                                                                                object
Contributing Factors. Career Move - Self-employment                                                                                                               object
Contributing Factors. Ill Health                                                                                                                                  object
Contributing Factors. Maternity/Family                                                                                                                            object
Contributing Factors. Dissatisfaction                                                                                                                             object
Contributing Factors. Job Dissatisfaction                                                                                                                         object
Contributing Factors. Interpersonal Conflict                                                                                                                      object
Contributing Factors. Study                                                                                                                                       object
Contributing Factors. Travel                                                                                                                                      object
Contributing Factors. Other                                                                                                                                       object
Contributing Factors. NONE                                                                                                                                        object
Main Factor. Which of these was the main factor for leaving?                                                                                                      object
InstituteViews. Topic:1. I feel the senior leadership had a clear vision and direction                                                                            object
InstituteViews. Topic:2. I was given access to skills training to help me do my job better                                                                        object
InstituteViews. Topic:3. I was given adequate opportunities for personal development                                                                              object
InstituteViews. Topic:4. I was given adequate opportunities for promotion within %Institute]Q25LBL%                                                               object
InstituteViews. Topic:5. I felt the salary for the job was right for the responsibilities I had                                                                   object
InstituteViews. Topic:6. The organisation recognised when staff did good work                                                                                     object
InstituteViews. Topic:7. Management was generally supportive of me                                                                                                object
InstituteViews. Topic:8. Management was generally supportive of my team                                                                                           object
InstituteViews. Topic:9. I was kept informed of the changes in the organisation which would affect me                                                             object
InstituteViews. Topic:10. Staff morale was positive within the Institute                                                                                          object
InstituteViews. Topic:11. If I had a workplace issue it was dealt with quickly                                                                                    object
InstituteViews. Topic:12. If I had a workplace issue it was dealt with efficiently                                                                                object
                                                                                                                                                                  ...
WorkUnitViews. Topic:25. My job allowed me to balance the demands of work and family to my satisfaction                                                           object
WorkUnitViews. Topic:26. My supervisor gave me adequate personal recognition and feedback on my performance                                                       object
WorkUnitViews. Topic:27. My working environment was satisfactory e.g. sufficient space, good lighting, suitable seating and working area                          object
WorkUnitViews. Topic:28. I was given the opportunity to mentor and coach others in order for me to pass on my skills and knowledge prior to my cessation date     object
WorkUnitViews. Topic:29. There was adequate communication between staff in my unit                                                                                object
WorkUnitViews. Topic:30. Staff morale was positive within my work unit                                                                                            object
Induction. Did you undertake Workplace Induction?                                                                                                                 object
InductionInfo. Topic:Did you undertake a Corporate Induction?                                                                                                     object
InductionInfo. Topic:Did you undertake a Institute Induction?                                                                                                     object
InductionInfo. Topic: Did you undertake Team Induction?                                                                                                           object
InductionInfo. Face to Face Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                         object
InductionInfo. On-line Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                              object
InductionInfo. Induction Manual Topic:Did you undertake a Corporate Induction?                                                                                    object
InductionInfo. Face to Face Topic:Did you undertake a Institute Induction?                                                                                        object
InductionInfo. On-line Topic:Did you undertake a Institute Induction?                                                                                             object
InductionInfo. Induction Manual Topic:Did you undertake a Institute Induction?                                                                                    object
InductionInfo. Face to Face Topic: Did you undertake Team Induction; Category?                                                                                    object
InductionInfo. On-line Topic: Did you undertake Team Induction?process you undertook and how it was conducted.]                                                   object
InductionInfo. Induction Manual Topic: Did you undertake Team Induction?                                                                                          object
Workplace. Topic:Did you and your Manager develop a Performance and Professional Development Plan (PPDP)?                                                         object
Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?                                                       object
Workplace. Topic:Does your workplace promote and practice the principles of employment equity?                                                                    object
Workplace. Topic:Does your workplace value the diversity of its employees?                                                                                        object
Workplace. Topic:Would you recommend the Institute as an employer to others?                                                                                      object
Gender. What is your Gender?                                                                                                                                      object
CurrentAge. Current Age                                                                                                                                           object
Employment Type. Employment Type                                                                                                                                  object
Classification. Classification                                                                                                                                    object
LengthofServiceOverall. Overall Length of Service at Institute (in years)                                                                                         object
LengthofServiceCurrent. Length of Service at current workplace (in years)                                                                                         object
Length: 72, dtype: object

In [41]:
tafe_survey.head(3)

,Record ID,Institute,WorkArea,CESSATION YEAR,Reason for ceasing employment,Contributing Factors. Career Move - Public Sector,Contributing Factors. Career Move - Private Sector,Contributing Factors. Career Move - Self-employment,Contributing Factors. Ill Health,Contributing Factors. Maternity/Family,...,Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?,Workplace. Topic:Does your workplace promote and practice the principles of employment equity?,Workplace. Topic:Does your workplace value the diversity of its employees?,Workplace. Topic:Would you recommend the Institute as an employer to others?,Gender. What is your Gender?,CurrentAge. Current Age,Employment Type. Employment Type,Classification. Classification,LengthofServiceOverall. Overall Length of Service at Institute (in years),LengthofServiceCurrent. Length of Service at current workplace (in years)
0,6.341330e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,Yes,Yes,Yes,Yes,Female,26 30,Temporary Full-time,Administration (AO),1-2,1-2
1,6.341337e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Retirement,-,-,-,-,-,...,Yes,Yes,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN
2,6.341388e+17,Mount Isa Institute of TAFE,Delivery (teaching),2010.0,Retirement,-,-,-,-,-,...,Yes,Yes,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN

It's also will be useful to __check a missed data__ in our data frames

In [35]:
dete_survey_sum = dete_survey.isnull().sum()
dete_survey_null_summ = dete_survey_sum[dete_survey_sum > 0]
dete_survey_null_summ.sort_values(ascending=False)

Torres Strait                  819
South Sea                      815
Aboriginal                     806
Disability                     799
NESB                           790
Business Unit                  696
Classification                 367
Opportunities for promotion     87
Career Aspirations              76
Wellness programs               56
Coach                           55
Further PD                      54
Workplace issue                 34
Feedback                        30
Health & Safety                 29
Gender                          24
Professional Development        14
Stress and pressure support     12
Age                             11
Skills                          11
My say                          10
Peer support                    10
Performance of supervisor        9
Initiative                       9
Kept informed                    9
Communication                    8
Worklife balance                 7
Staff morale                     6
Information                      6
Physical environment             5
Employment Status                5
Position                         5
dtype: int64

In [46]:
tafe_survey_sum = tafe_survey.isnull().sum()
tafe_survey_null_summ = tafe_survey_sum[tafe_survey_sum > 0]
tafe_survey_null_summ.sort_values(ascending=False)

Main Factor. Which of these was the main factor for leaving?                                                                                                     589
InductionInfo. Topic:Did you undertake a Corporate Induction?                                                                                                    270
Contributing Factors. Ill Health                                                                                                                                 265
Contributing Factors. Other                                                                                                                                      265
Contributing Factors. Maternity/Family                                                                                                                           265
Contributing Factors. Career Move - Public Sector                                                                                                                265
Contributing Factors. Travel                                                                                                                                     265
Contributing Factors. NONE                                                                                                                                       265
Contributing Factors. Career Move - Private Sector                                                                                                               265
Contributing Factors. Career Move - Self-employment                                                                                                              265
Contributing Factors. Dissatisfaction                                                                                                                            265
Contributing Factors. Job Dissatisfaction                                                                                                                        265
Contributing Factors. Interpersonal Conflict                                                                                                                     265
Contributing Factors. Study                                                                                                                                      265
InductionInfo. Topic: Did you undertake Team Induction?                                                                                                          262
InductionInfo. Topic:Did you undertake a Institute Induction?                                                                                                    219
InductionInfo. Face to Face Topic:Did you undertake a Institute Induction?                                                                                       172
InductionInfo. Induction Manual Topic:Did you undertake a Institute Induction?                                                                                   149
InductionInfo. Face to Face Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                        147
InductionInfo. On-line Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                             147
InductionInfo. Induction Manual Topic:Did you undertake a Corporate Induction?                                                                                   147
InductionInfo. Face to Face Topic: Did you undertake Team Induction; Category?                                                                                   147
InductionInfo. On-line Topic: Did you undertake Team Induction?process you undertook and how it was conducted.]                                                  147
InductionInfo. Induction Manual Topic: Did you undertake Team Induction?                                                                                         147
InductionInfo. On-line Topic:Did you undertake a Institute Induction?                                                                                            147
Workplace. Topic:Would you recommend the Institute as an employer to others?                                                                                     121
Workplace. Topic:Does your workplace value the diversity of its employees?                                                                                       116
Workplace. Topic:Does your workplace promote and practice the principles of employment equity?                                                                   115
Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?                                                      108
LengthofServiceOverall. Overall Length of Service at Institute (in years)                                                                                        106
                                                                                                                                                                ...
WorkUnitViews. Topic:29. There was adequate communication between staff in my unit                                                                                99
WorkUnitViews. Topic:15. I worked well with my colleagues                                                                                                         97
WorkUnitViews. Topic:26. My supervisor gave me adequate personal recognition and feedback on my performance                                                       96
WorkUnitViews. Topic:30. Staff morale was positive within my work unit                                                                                            96
WorkUnitViews. Topic:16. My job was challenging and interesting                                                                                                   95
InstituteViews. Topic:6. The organisation recognised when staff did good work                                                                                     95
WorkUnitViews. Topic:21. I was able to use the full range of my abilities in my job. ; Category:Level of Agreement; Question:YOUR VIEWS ABOUT YOUR WORK UNIT]     94
WorkUnitViews. Topic:22. I was able to use the full range of my knowledge in my job                                                                               94
InstituteViews. Topic:1. I feel the senior leadership had a clear vision and direction                                                                            94
InstituteViews. Topic:8. Management was generally supportive of my team                                                                                           94
Workplace. Topic:Did you and your Manager develop a Performance and Professional Development Plan (PPDP)?                                                         94
InstituteViews. Topic:4. I was given adequate opportunities for promotion within %Institute]Q25LBL%                                                               94
WorkUnitViews. Topic:20. I was able to use the full range of my skills in my job                                                                                  93
WorkUnitViews. Topic:19. I was given adequate support and co-operation by my peers to enable me to do my job                                                      93
WorkUnitViews. Topic:28. I was given the opportunity to mentor and coach others in order for me to pass on my skills and knowledge prior to my cessation date     93
WorkUnitViews. Topic:14. I was satisfied with the quality of the management and supervision within my work unit                                                   93
WorkUnitViews. Topic:24. I was able to cope with the level of stress and pressure in my job                                                                       92
WorkUnitViews. Topic:27. My working environment was satisfactory e.g. sufficient space, good lighting, suitable seating and working area                          92
InstituteViews. Topic:9. I was kept informed of the changes in the organisation which would affect me                                                             92
WorkUnitViews. Topic:17. I was encouraged to use my initiative in the course of my work                                                                           92
InstituteViews. Topic:3. I was given adequate opportunities for personal development                                                                              92
WorkUnitViews. Topic:25. My job allowed me to balance the demands of work and family to my satisfaction                                                           91
WorkUnitViews. Topic:23. My job provided sufficient variety                                                                                                       91
InstituteViews. Topic:2. I was given access to skills training to help me do my job better                                                                        89
WorkUnitViews. Topic:18. I had sufficient contact with other people in my job                                                                                     89
InstituteViews. Topic:7. Management was generally supportive of me                                                                                                88
InstituteViews. Topic:5. I felt the salary for the job was right for the responsibilities I had                                                                   87
Induction. Did you undertake Workplace Induction?                                                                                                                 83
CESSATION YEAR                                                                                                                                                     7
Reason for ceasing employment                                                                                                                                      1
Length: 69, dtype: int64

Next let's see on a series of __unique values__ for every column

In [74]:
def print_unique(dataframe):
    for column in dataframe.columns[1:]:
        print("-" * 20 + "\n\n%s:\n%s" % (
            column.upper(),
            dataframe[column].value_counts()
            )
        )

In [75]:
print_unique(dete_survey)

--------------------

SEPARATIONTYPE:
Age Retirement                          285
Resignation-Other reasons               150
Resignation-Other employer               91
Resignation-Move overseas/interstate     70
Voluntary Early Retirement (VER)         67
Ill Health Retirement                    61
Other                                    49
Contract Expired                         34
Termination                              15
Name: SeparationType, dtype: int64
--------------------

CEASE DATE:
2012          344
2013          200
01/2014        43
12/2013        40
09/2013        34
Not Stated     34
06/2013        27
07/2013        22
10/2013        20
11/2013        16
08/2013        12
05/2013         7
05/2012         6
08/2012         2
07/2014         2
02/2014         2
04/2013         2
04/2014         2
07/2012         1
11/2012         1
07/2006         1
09/2010         1
2014            1
2010            1
09/2014         1
Name: Cease Date, dtype: int64
--------------------

DETE START DATE:
Not Stated    73
2011          40
2007          34
2008          31
2012          27
2010          27
2009          24
2006          23
2013          21
1970          21
1975          21
2005          20
1990          20
1999          19
1996          19
1991          18
2000          18
1992          18
2004          18
1989          17
1976          15
2003          15
1988          15
1978          15
2002          15
1979          14
1997          14
1974          14
1980          14
1998          14
1995          14
1993          13
1986          12
1972          12
1977          11
1971          10
2001          10
1969          10
1984          10
1994          10
1983           9
1981           9
1973           8
1985           8
1987           7
1963           4
1982           4
1968           3
1967           2
1965           1
1966           1
Name: DETE Start Date, dtype: int64
--------------------

ROLE START DATE:
Not Stated    98
2012          65
2011          57
2010          46
2008          45
2013          41
2007          41
2009          38
2006          25
2004          22
2000          20
2003          20
2005          20
1999          19
1996          19
1989          18
1992          17
2002          16
2001          15
1998          15
1988          14
1995          13
1997          13
1990          12
1975          12
1986          11
1993           9
1978           9
1976           9
1991           8
1994           7
1979           7
1985           6
1987           5
1981           5
1983           5
1984           4
1982           4
1980           3
1970           2
1977           2
1973           1
1972           1
200            1
1974           1
1971           1
Name: Role Start Date, dtype: int64
--------------------

POSITION:
Teacher                                                    324
Teacher Aide                                               137
Public Servant                                             126
Cleaner                                                     97
Head of Curriculum/Head of Special Education                38
Schools Officer                                             24
School Administrative Staff                                 16
Guidance Officer                                            12
Technical Officer                                           11
Professional Officer                                         7
Other                                                        7
School Principal                                             5
School Based Professional Staff (Therapist, nurse, etc)      5
Business Service Manager                                     4
Deputy Principal                                             4
Name: Position, dtype: int64
--------------------

CLASSIFICATION:
Primary              161
Secondary            124
A01-A04               66
AO5-AO7               46
Special Education     33
AO8 and Above         14
PO1-PO4                8
Middle                 3
Name: Classification, dtype: int64
--------------------

REGION:
Metropolitan                135
Central Office              130
South East                  108
Not Stated                  105
Darling Downs South West     95
Central Queensland           84
North Coast                  75
North Queensland             53
Far North Queensland         37
Name: Region, dtype: int64
--------------------

BUSINESS UNIT:
Education Queensland                          54
Information and Technologies                  26
Training and Tertiary Education Queensland    12
Other                                         11
Human Resources                                6
Corporate Strategy and Peformance              5
Early Childhood Education and Care             3
Policy, Research, Legislation                  2
Infrastructure                                 2
Indigenous Education and Training Futures      1
Pacific Pines SHS                              1
Finance                                        1
Calliope State School                          1
Corporate Procurement                          1
Name: Business Unit, dtype: int64
--------------------

EMPLOYMENT STATUS:
Permanent Full-time    434
Permanent Part-time    308
Temporary Full-time     41
Temporary Part-time     24
Casual                  10
Name: Employment Status, dtype: int64
--------------------

CAREER MOVE TO PUBLIC SECTOR:
False    800
True      22
Name: Career move to public sector, dtype: int64
--------------------

CAREER MOVE TO PRIVATE SECTOR:
False    742
True      80
Name: Career move to private sector, dtype: int64
--------------------

INTERPERSONAL CONFLICTS:
False    788
True      34
Name: Interpersonal conflicts, dtype: int64
--------------------

JOB DISSATISFACTION:
False    733
True      89
Name: Job dissatisfaction, dtype: int64
--------------------

DISSATISFACTION WITH THE DEPARTMENT:
False    761
True      61
Name: Dissatisfaction with the department, dtype: int64
--------------------

PHYSICAL WORK ENVIRONMENT:
False    806
True      16
Name: Physical work environment, dtype: int64
--------------------

LACK OF RECOGNITION:
False    765
True      57
Name: Lack of recognition, dtype: int64
--------------------

LACK OF JOB SECURITY:
False    794
True      28
Name: Lack of job security, dtype: int64
--------------------

WORK LOCATION:
False    795
True      27
Name: Work location, dtype: int64
--------------------

EMPLOYMENT CONDITIONS:
False    788
True      34
Name: Employment conditions, dtype: int64
--------------------

MATERNITY/FAMILY:
False    760
True      62
Name: Maternity/family, dtype: int64
--------------------

RELOCATION:
False    754
True      68
Name: Relocation, dtype: int64
--------------------

STUDY/TRAVEL:
False    785
True      37
Name: Study/Travel, dtype: int64
--------------------

ILL HEALTH:
False    710
True     112
Name: Ill Health, dtype: int64
--------------------

TRAUMATIC INCIDENT:
False    794
True      28
Name: Traumatic incident, dtype: int64
--------------------

WORK LIFE BALANCE:
False    605
True     217
Name: Work life balance, dtype: int64
--------------------

WORKLOAD:
False    735
True      87
Name: Workload, dtype: int64
--------------------

NONE OF THE ABOVE:
False    605
True     217
Name: None of the above, dtype: int64
--------------------

PROFESSIONAL DEVELOPMENT:
A     413
SA    184
N     103
D      60
SD     33
M      15
Name: Professional Development, dtype: int64
--------------------

OPPORTUNITIES FOR PROMOTION:
A     242
N     230
SA    100
D      83
SD     56
M      24
Name: Opportunities for promotion, dtype: int64
--------------------

STAFF MORALE:
A     335
N     158
SA    121
D     112
SD     77
M      13
Name: Staff morale, dtype: int64
--------------------

WORKPLACE ISSUE:
A     357
N     160
SA    115
D      77
SD     65
M      14
Name: Workplace issue, dtype: int64
--------------------

PHYSICAL ENVIRONMENT:
A     467
SA    148
N      99
D      61
SD     27
M      15
Name: Physical environment, dtype: int64
--------------------

WORKLIFE BALANCE:
A     359
SA    162
N     116
D     107
SD     59
M      12
Name: Worklife balance, dtype: int64
--------------------

STRESS AND PRESSURE SUPPORT:
A     342
N     168
SA    124
D      95
SD     67
M      14
Name: Stress and pressure support, dtype: int64
--------------------

PERFORMANCE OF SUPERVISOR:
A     349
SA    179
N     120
D      77
SD     76
M      12
Name: Performance of supervisor, dtype: int64
--------------------

PEER SUPPORT:
A     401
SA    243
N      95
D      37
SD     25
M      11
Name: Peer support, dtype: int64
--------------------

INITIATIVE:
A     396
SA    244
N      95
D      34
SD     31
M      13
Name: Initiative, dtype: int64
--------------------

SKILLS:
A     372
SA    228
N      94
D      59
SD     47
M      11
Name: Skills, dtype: int64
--------------------

COACH:
A     345
SA    157
N     141
D      65
SD     37
M      22
Name: Coach, dtype: int64
--------------------

CAREER ASPIRATIONS:
A     246
N     183
SA    130
D     108
SD     62
M      17
Name: Career Aspirations, dtype: int64
--------------------

FEEDBACK:
A     348
SA    156
N     138
D      78
SD     57
M      15
Name: Feedback, dtype: int64
--------------------

FURTHER PD:
A     293
N     179
SA    149
D      77
SD     57
M      13
Name: Further PD, dtype: int64
--------------------

COMMUNICATION:
A     399
SA    144
N     129
D      76
SD     58
M       8
Name: Communication, dtype: int64
--------------------

MY SAY:
A     400
SA    177
N     116
SD     57
D      52
M      10
Name: My say, dtype: int64
--------------------

INFORMATION:
A     436
SA    165
N     120
D      45
SD     39
M      11
Name: Information, dtype: int64
--------------------

KEPT INFORMED:
A     401
SA    162
N     130
D      60
SD     50
M      10
Name: Kept informed, dtype: int64
--------------------

WELLNESS PROGRAMS:
A     253
N     225
D     105
SA     78
SD     72
M      33
Name: Wellness programs, dtype: int64
--------------------

HEALTH & SAFETY:
A     386
N     153
SA    141
D      50
SD     35
M      28
Name: Health & Safety, dtype: int64
--------------------

GENDER:
Female    573
Male      225
Name: Gender, dtype: int64
--------------------

AGE:
61 or older      222
56-60            174
51-55            103
46-50             63
41-45             61
26-30             57
36-40             51
21-25             40
31-35             39
20 or younger      1
Name: Age, dtype: int64
--------------------

ABORIGINAL:
Yes    16
Name: Aboriginal, dtype: int64
--------------------

TORRES STRAIT:
Yes    3
Name: Torres Strait, dtype: int64
--------------------

SOUTH SEA:
Yes    7
Name: South Sea, dtype: int64
--------------------

DISABILITY:
Yes    23
Name: Disability, dtype: int64
--------------------

NESB:
Yes    32
Name: NESB, dtype: int64

In [76]:
print_unique(tafe_survey)

--------------------

INSTITUTE:
Brisbane North Institute of TAFE         161
Southern Queensland Institute of TAFE    142
Central Queensland Institute of TAFE     108
Sunshine Coast Institute of TAFE          91
Tropical North Institute of TAFE          70
SkillsTech Australia                      57
Southbank Institute of Technology         43
Barrier Reef Institute of TAFE            14
Mount Isa Institute of TAFE               12
Wide Bay Institute of TAFE                 2
The Bremer Institute of TAFE               1
Metropolitan South Institute of TAFE       1
Name: Institute, dtype: int64
--------------------

WORKAREA:
Non-Delivery (corporate)    432
Delivery (teaching)         270
Name: WorkArea, dtype: int64
--------------------

CESSATION YEAR:
2011.0    268
2012.0    235
2010.0    103
2013.0     85
2009.0      4
Name: CESSATION YEAR, dtype: int64
--------------------

REASON FOR CEASING EMPLOYMENT:
Resignation                 340
Contract Expired            127
Retrenchment/ Redundancy    104
Retirement                   82
Transfer                     25
Termination                  23
Name: Reason for ceasing employment, dtype: int64
--------------------

CONTRIBUTING FACTORS. CAREER MOVE - PUBLIC SECTOR :
-                              375
Career Move - Public Sector     62
Name: Contributing Factors. Career Move - Public Sector , dtype: int64
--------------------

CONTRIBUTING FACTORS. CAREER MOVE - PRIVATE SECTOR :
-                               336
Career Move - Private Sector    101
Name: Contributing Factors. Career Move - Private Sector , dtype: int64
--------------------

CONTRIBUTING FACTORS. CAREER MOVE - SELF-EMPLOYMENT:
-                                420
Career Move - Self-employment     17
Name: Contributing Factors. Career Move - Self-employment, dtype: int64
--------------------

CONTRIBUTING FACTORS. ILL HEALTH:
-             403
Ill Health     34
Name: Contributing Factors. Ill Health, dtype: int64
--------------------

CONTRIBUTING FACTORS. MATERNITY/FAMILY:
-                   411
Maternity/Family     26
Name: Contributing Factors. Maternity/Family, dtype: int64
--------------------

CONTRIBUTING FACTORS. DISSATISFACTION:
-                                         371
Contributing Factors. Dissatisfaction      66
Name: Contributing Factors. Dissatisfaction, dtype: int64
--------------------

CONTRIBUTING FACTORS. JOB DISSATISFACTION:
-                      360
Job Dissatisfaction     77
Name: Contributing Factors. Job Dissatisfaction, dtype: int64
--------------------

CONTRIBUTING FACTORS. INTERPERSONAL CONFLICT:
-                         410
Interpersonal Conflict     27
Name: Contributing Factors. Interpersonal Conflict, dtype: int64
--------------------

CONTRIBUTING FACTORS. STUDY:
-        421
Study     16
Name: Contributing Factors. Study, dtype: int64
--------------------

CONTRIBUTING FACTORS. TRAVEL:
-         415
Travel     22
Name: Contributing Factors. Travel, dtype: int64
--------------------

CONTRIBUTING FACTORS. OTHER:
-        331
Other    106
Name: Contributing Factors. Other, dtype: int64
--------------------

CONTRIBUTING FACTORS. NONE:
-       391
NONE     46
Name: Contributing Factors. NONE, dtype: int64
--------------------

MAIN FACTOR. WHICH OF THESE WAS THE MAIN FACTOR FOR LEAVING?:
Dissatisfaction with %[Institute]Q25LBL%    23
Job Dissatisfaction                         22
Other                                       18
Career Move - Private Sector                16
Interpersonal Conflict                       9
Career Move - Public Sector                  8
Maternity/Family                             6
Career Move - Self-employment                4
Ill Health                                   3
Study                                        2
Travel                                       2
Name: Main Factor. Which of these was the main factor for leaving?, dtype: int64
--------------------

INSTITUTEVIEWS. TOPIC:1. I FEEL THE SENIOR LEADERSHIP HAD A CLEAR VISION AND DIRECTION:
Agree                233
Neutral              150
Strongly Agree        87
Disagree              84
Strongly Disagree     49
Not Applicable         5
Name: InstituteViews. Topic:1. I feel the senior leadership had a clear vision and direction, dtype: int64
--------------------

INSTITUTEVIEWS. TOPIC:2. I WAS GIVEN ACCESS TO SKILLS TRAINING TO HELP ME DO MY JOB BETTER:
Agree                275
Strongly Agree       123
Neutral              105
Disagree              64
Strongly Disagree     35
Not Applicable        11
Name: InstituteViews. Topic:2. I was given access to skills training to help me do my job better, dtype: int64
--------------------

INSTITUTEVIEWS. TOPIC:3. I WAS GIVEN ADEQUATE OPPORTUNITIES FOR PERSONAL DEVELOPMENT:
Agree                247
Neutral              119
Strongly Agree       116
Disagree              72
Strongly Disagree     43
Not Applicable        13
Name: InstituteViews. Topic:3. I was given adequate opportunities for personal development, dtype: int64
--------------------

INSTITUTEVIEWS. TOPIC:4. I WAS GIVEN ADEQUATE OPPORTUNITIES FOR PROMOTION WITHIN %INSTITUTE]Q25LBL%:
Neutral              175
Agree                142
Disagree              98
Strongly Disagree     81
Strongly Agree        61
Not Applicable        51
Name: InstituteViews. Topic:4. I was given adequate opportunities for promotion within %Institute]Q25LBL%, dtype: int64
--------------------

INSTITUTEVIEWS. TOPIC:5. I FELT THE SALARY FOR THE JOB WAS RIGHT FOR THE RESPONSIBILITIES I HAD:
Agree                255
Neutral              109
Disagree             108
Strongly Agree        70
Strongly Disagree     66
Not Applicable         7
Name: InstituteViews. Topic:5. I felt the salary for the job was right for the responsibilities I had, dtype: int64
--------------------

INSTITUTEVIEWS. TOPIC:6. THE ORGANISATION RECOGNISED WHEN STAFF DID GOOD WORK:
Agree                212
Neutral              136
Disagree             105
Strongly Agree        74
Strongly Disagree     73
Not Applicable         7
Name: InstituteViews. Topic:6. The organisation recognised when staff did good work, dtype: int64
--------------------

INSTITUTEVIEWS. TOPIC:7. MANAGEMENT WAS GENERALLY SUPPORTIVE OF ME:
Agree                267
Strongly Agree       135
Neutral              104
Disagree              66
Strongly Disagree     37
Not Applicable         5
Name: InstituteViews. Topic:7. Management was generally supportive of me, dtype: int64
--------------------

INSTITUTEVIEWS. TOPIC:8. MANAGEMENT WAS GENERALLY SUPPORTIVE OF MY TEAM:
Agree                268
Strongly Agree       113
Neutral              107
Disagree              76
Strongly Disagree     36
Not Applicable         8
Name: InstituteViews. Topic:8. Management was generally supportive of my team, dtype: int64
--------------------

INSTITUTEVIEWS. TOPIC:9. I WAS KEPT INFORMED OF THE CHANGES IN THE ORGANISATION WHICH WOULD AFFECT ME:
Agree                284
Neutral               98
Strongly Agree        87
Disagree              78
Strongly Disagree     58
Not Applicable         5
Name: InstituteViews. Topic:9. I was kept informed of the changes in the organisation which would affect me, dtype: int64
--------------------

INSTITUTEVIEWS. TOPIC:10. STAFF MORALE WAS POSITIVE WITHIN THE INSTITUTE:
Neutral              154
Agree                146
Disagree             139
Strongly Disagree    109
Strongly Agree        47
Not Applicable         7
Name: InstituteViews. Topic:10. Staff morale was positive within the Institute, dtype: int64
--------------------

INSTITUTEVIEWS. TOPIC:11. IF I HAD A WORKPLACE ISSUE IT WAS DEALT WITH QUICKLY:
Agree                216
Neutral              142
Disagree              79
Strongly Disagree     64
Strongly Agree        62
Not Applicable        38
Name: InstituteViews. Topic:11. If I had a workplace issue it was dealt with quickly, dtype: int64
--------------------

INSTITUTEVIEWS. TOPIC:12. IF I HAD A WORKPLACE ISSUE IT WAS DEALT WITH EFFICIENTLY:
Agree                209
Neutral              143
Disagree              84
Strongly Agree        62
Strongly Disagree     60
Not Applicable        39
Name: InstituteViews. Topic:12. If I had a workplace issue it was dealt with efficiently, dtype: int64
--------------------

INSTITUTEVIEWS. TOPIC:13. IF I HAD A WORKPLACE ISSUE IT WAS DEALT WITH DISCREETLY:
Agree                226
Neutral              146
Strongly Agree        75
Disagree              56
Strongly Disagree     53
Not Applicable        45
Name: InstituteViews. Topic:13. If I had a workplace issue it was dealt with discreetly, dtype: int64
--------------------

WORKUNITVIEWS. TOPIC:14. I WAS SATISFIED WITH THE QUALITY OF THE MANAGEMENT AND SUPERVISION WITHIN MY WORK UNIT:
Agree                234
Strongly Agree       156
Disagree              87
Neutral               81
Strongly Disagree     43
Not Applicable         8
Name: WorkUnitViews. Topic:14. I was satisfied with the quality of the management and supervision within my work unit, dtype: int64
--------------------

WORKUNITVIEWS. TOPIC:15. I WORKED WELL WITH MY COLLEAGUES:
Agree                281
Strongly Agree       272
Neutral               31
Disagree               9
Strongly Disagree      7
Not Applicable         5
Name: WorkUnitViews. Topic:15. I worked well with my colleagues, dtype: int64
--------------------

WORKUNITVIEWS. TOPIC:16. MY JOB WAS CHALLENGING AND INTERESTING:
Agree                284
Strongly Agree       184
Neutral               76
Disagree              39
Strongly Disagree     18
Not Applicable         6
Name: WorkUnitViews. Topic:16. My job was challenging and interesting, dtype: int64
--------------------

WORKUNITVIEWS. TOPIC:17. I WAS ENCOURAGED TO USE MY INITIATIVE IN THE COURSE OF MY WORK:
Agree                253
Strongly Agree       198
Neutral               86
Disagree              40
Strongly Disagree     27
Not Applicable         6
Name: WorkUnitViews. Topic:17. I was encouraged to use my initiative in the course of my work, dtype: int64
--------------------

WORKUNITVIEWS. TOPIC:18. I HAD SUFFICIENT CONTACT WITH OTHER PEOPLE IN MY JOB:
Agree                331
Strongly Agree       189
Neutral               55
Disagree              19
Strongly Disagree     13
Not Applicable         6
Name: WorkUnitViews. Topic:18. I had sufficient contact with other people in my job, dtype: int64
--------------------

WORKUNITVIEWS. TOPIC:19. I WAS GIVEN ADEQUATE SUPPORT AND CO-OPERATION BY MY PEERS TO ENABLE ME TO DO MY JOB:
Agree                286
Strongly Agree       185
Neutral               73
Disagree              34
Strongly Disagree     25
Not Applicable         6
Name: WorkUnitViews. Topic:19. I was given adequate support and co-operation by my peers to enable me to do my job, dtype: int64
--------------------

WORKUNITVIEWS. TOPIC:20. I WAS ABLE TO USE THE FULL RANGE OF MY SKILLS IN MY JOB:
Agree                230
Strongly Agree       134
Disagree              96
Neutral               91
Strongly Disagree     52
Not Applicable         6
Name: WorkUnitViews. Topic:20. I was able to use the full range of my skills in my job, dtype: int64
--------------------

WORKUNITVIEWS. TOPIC:21. I WAS ABLE TO USE THE FULL RANGE OF MY ABILITIES IN MY JOB. ; CATEGORY:LEVEL OF AGREEMENT; QUESTION:YOUR VIEWS ABOUT YOUR WORK UNIT]:
Agree                232
Strongly Agree       129
Neutral               95
Disagree              94
Strongly Disagree     52
Not Applicable         6
Name: WorkUnitViews. Topic:21. I was able to use the full range of my abilities in my job. ; Category:Level of Agreement; Question:YOUR VIEWS ABOUT YOUR WORK UNIT], dtype: int64
--------------------

WORKUNITVIEWS. TOPIC:22. I WAS ABLE TO USE THE FULL RANGE OF MY KNOWLEDGE IN MY JOB:
Agree                237
Strongly Agree       137
Neutral               93
Disagree              84
Strongly Disagree     51
Not Applicable         6
Name: WorkUnitViews. Topic:22. I was able to use the full range of my knowledge in my job, dtype: int64
--------------------

WORKUNITVIEWS. TOPIC:23. MY JOB PROVIDED SUFFICIENT VARIETY:
Agree                296
Strongly Agree       134
Neutral               99
Disagree              45
Strongly Disagree     30
Not Applicable         7
Name: WorkUnitViews. Topic:23. My job provided sufficient variety, dtype: int64
--------------------

WORKUNITVIEWS. TOPIC:24. I WAS ABLE TO COPE WITH THE LEVEL OF STRESS AND PRESSURE IN MY JOB:
Agree                298
Strongly Agree       148
Neutral               91
Disagree              45
Strongly Disagree     22
Not Applicable         6
Name: WorkUnitViews. Topic:24. I was able to cope with the level of stress and pressure in my job, dtype: int64
--------------------

WORKUNITVIEWS. TOPIC:25. MY JOB ALLOWED ME TO BALANCE THE DEMANDS OF WORK AND FAMILY TO MY SATISFACTION:
Agree                290
Strongly Agree       141
Neutral               93
Disagree              53
Strongly Disagree     29
Not Applicable         5
Name: WorkUnitViews. Topic:25. My job allowed me to balance the demands of work and family to my satisfaction, dtype: int64
--------------------

WORKUNITVIEWS. TOPIC:26. MY SUPERVISOR GAVE ME ADEQUATE PERSONAL RECOGNITION AND FEEDBACK ON MY PERFORMANCE:
Agree                231
Strongly Agree       156
Neutral               99
Disagree              60
Strongly Disagree     54
Not Applicable         6
Name: WorkUnitViews. Topic:26. My supervisor gave me adequate personal recognition and feedback on my performance, dtype: int64
--------------------

WORKUNITVIEWS. TOPIC:27. MY WORKING ENVIRONMENT WAS SATISFACTORY E.G. SUFFICIENT SPACE, GOOD LIGHTING, SUITABLE SEATING AND WORKING AREA:
Agree                269
Strongly Agree       165
Neutral               77
Disagree              67
Strongly Disagree     27
Not Applicable         5
Name: WorkUnitViews. Topic:27. My working environment was satisfactory e.g. sufficient space, good lighting, suitable seating and working area, dtype: int64
--------------------

WORKUNITVIEWS. TOPIC:28. I WAS GIVEN THE OPPORTUNITY TO MENTOR AND COACH OTHERS IN ORDER FOR ME TO PASS ON MY SKILLS AND KNOWLEDGE PRIOR TO MY CESSATION DATE:
Agree                234
Neutral              125
Strongly Agree        87
Disagree              74
Strongly Disagree     46
Not Applicable        43
Name: WorkUnitViews. Topic:28. I was given the opportunity to mentor and coach others in order for me to pass on my skills and knowledge prior to my cessation date, dtype: int64
--------------------

WORKUNITVIEWS. TOPIC:29. THERE WAS ADEQUATE COMMUNICATION BETWEEN STAFF IN MY UNIT:
Agree                300
Strongly Agree       157
Neutral               63
Disagree              40
Strongly Disagree     36
Not Applicable         7
Name: WorkUnitViews. Topic:29. There was adequate communication between staff in my unit, dtype: int64
--------------------

WORKUNITVIEWS. TOPIC:30. STAFF MORALE WAS POSITIVE WITHIN MY WORK UNIT:
Agree                236
Neutral              119
Strongly Agree       104
Strongly Disagree     70
Disagree              69
Not Applicable         8
Name: WorkUnitViews. Topic:30. Staff morale was positive within my work unit, dtype: int64
--------------------

INDUCTION. DID YOU UNDERTAKE WORKPLACE INDUCTION?:
Yes    541
No      78
Name: Induction. Did you undertake Workplace Induction?, dtype: int64
--------------------

INDUCTIONINFO. TOPIC:DID YOU UNDERTAKE A CORPORATE INDUCTION?:
Yes    232
No     200
Name: InductionInfo. Topic:Did you undertake a Corporate Induction?, dtype: int64
--------------------

INDUCTIONINFO. TOPIC:DID YOU UNDERTAKE A INSTITUTE INDUCTION?:
Yes    441
No      42
Name: InductionInfo. Topic:Did you undertake a Institute Induction?, dtype: int64
--------------------

INDUCTIONINFO. TOPIC: DID YOU UNDERTAKE TEAM INDUCTION?:
Yes    285
No     155
Name: InductionInfo. Topic: Did you undertake Team Induction?, dtype: int64
--------------------

INDUCTIONINFO. FACE TO FACE TOPIC:DID YOU UNDERTAKE A CORPORATE INDUCTION; CATEGORY:HOW IT WAS CONDUCTED?:
-               412
Face to Face    143
Name: InductionInfo. Face to Face Topic:Did you undertake a Corporate Induction; Category:How it was conducted?, dtype: int64
--------------------

INDUCTIONINFO. ON-LINE TOPIC:DID YOU UNDERTAKE A CORPORATE INDUCTION; CATEGORY:HOW IT WAS CONDUCTED?:
-          502
On-line     53
Name: InductionInfo. On-line Topic:Did you undertake a Corporate Induction; Category:How it was conducted?, dtype: int64
--------------------

INDUCTIONINFO. INDUCTION MANUAL TOPIC:DID YOU UNDERTAKE A CORPORATE INDUCTION?:
-                   539
Induction Manual     16
Name: InductionInfo. Induction Manual Topic:Did you undertake a Corporate Induction?, dtype: int64
--------------------

INDUCTIONINFO. FACE TO FACE TOPIC:DID YOU UNDERTAKE A INSTITUTE INDUCTION?:
-               270
Face to Face    260
Name: InductionInfo. Face to Face Topic:Did you undertake a Institute Induction?, dtype: int64
--------------------

INDUCTIONINFO. ON-LINE TOPIC:DID YOU UNDERTAKE A INSTITUTE INDUCTION?:
-          473
On-line     82
Name: InductionInfo. On-line Topic:Did you undertake a Institute Induction?, dtype: int64
--------------------

INDUCTIONINFO. INDUCTION MANUAL TOPIC:DID YOU UNDERTAKE A INSTITUTE INDUCTION?:
-                   518
Induction Manual     35
Name: InductionInfo. Induction Manual Topic:Did you undertake a Institute Induction?, dtype: int64
--------------------

INDUCTIONINFO. FACE TO FACE TOPIC: DID YOU UNDERTAKE TEAM INDUCTION; CATEGORY?:
-               366
Face to Face    189
Name: InductionInfo. Face to Face Topic: Did you undertake Team Induction; Category?, dtype: int64
--------------------

INDUCTIONINFO. ON-LINE TOPIC: DID YOU UNDERTAKE TEAM INDUCTION?PROCESS YOU UNDERTOOK AND HOW IT WAS CONDUCTED.]:
-    555
Name: InductionInfo. On-line Topic: Did you undertake Team Induction?process you undertook and how it was conducted.], dtype: int64
--------------------

INDUCTIONINFO. INDUCTION MANUAL TOPIC: DID YOU UNDERTAKE TEAM INDUCTION?:
-                   541
Induction Manual     14
Name: InductionInfo. Induction Manual Topic: Did you undertake Team Induction?, dtype: int64
--------------------

WORKPLACE. TOPIC:DID YOU AND YOUR MANAGER DEVELOP A PERFORMANCE AND PROFESSIONAL DEVELOPMENT PLAN (PPDP)?:
Yes    382
No     226
Name: Workplace. Topic:Did you and your Manager develop a Performance and Professional Development Plan (PPDP)?, dtype: int64
--------------------

WORKPLACE. TOPIC:DOES YOUR WORKPLACE PROMOTE A WORK CULTURE FREE FROM ALL FORMS OF UNLAWFUL DISCRIMINATION?:
Yes    536
No      58
Name: Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?, dtype: int64
--------------------

WORKPLACE. TOPIC:DOES YOUR WORKPLACE PROMOTE AND PRACTICE THE PRINCIPLES OF EMPLOYMENT EQUITY?:
Yes    512
No      75
Name: Workplace. Topic:Does your workplace promote and practice the principles of employment equity?, dtype: int64
--------------------

WORKPLACE. TOPIC:DOES YOUR WORKPLACE VALUE THE DIVERSITY OF ITS EMPLOYEES?:
Yes    488
No      98
Name: Workplace. Topic:Does your workplace value the diversity of its employees?, dtype: int64
--------------------

WORKPLACE. TOPIC:WOULD YOU RECOMMEND THE INSTITUTE AS AN EMPLOYER TO OTHERS?:
Yes    416
No     165
Name: Workplace. Topic:Would you recommend the Institute as an employer to others?, dtype: int64
--------------------

GENDER. WHAT IS YOUR GENDER?:
Female    389
Male      207
Name: Gender. What is your Gender?, dtype: int64
--------------------

CURRENTAGE. CURRENT AGE:
56 or older      162
51-55             82
41  45            80
46  50            59
31  35            52
36  40            51
26  30            50
21  25            44
20 or younger     16
Name: CurrentAge. Current Age, dtype: int64
--------------------

EMPLOYMENT TYPE. EMPLOYMENT TYPE:
Permanent Full-time    237
Temporary Full-time    177
Contract/casual         71
Permanent Part-time     59

From the data printed above, we can first make the following __observations__:

*  The dete_survey dataframe contains `'Not Stated'` values that indicate values are missing, but they aren't represented as NaN.
*  Both the dete_survey and tafe_survey dataframes contain many columns that we don't need to complete our analysis.
*  Each dataframe contains many of the same columns, but the column names are different.
*  There are multiple columns/answers that indicate an employee resigned because they were dissatisfied.

To start, we'll handle the __first two issues__.

We can use the `pd.read_csv()` function to specify values that should be represented as NaN. We'll use this function to fix the missing values first. Then, we'll drop columns we know we don't need for our analysis.

In [77]:
dete_survey = pd.read_csv("dete_survey.csv", na_values="Not Stated")

In [78]:
dete_survey_updated = dete_survey.drop(dete_survey.columns[28:49], axis=1)

In [82]:
dete_survey_updated.head(3)

,ID,SeparationType,Cease Date,DETE Start Date,Role Start Date,Position,Classification,Region,Business Unit,Employment Status,...,Work life balance,Workload,None of the above,Gender,Age,Aboriginal,Torres Strait,South Sea,Disability,NESB
0,1,Ill Health Retirement,08/2012,1984.0,2004.0,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,False,False,True,Male,56-60,NaN,NaN,NaN,NaN,Yes
1,2,Voluntary Early Retirement (VER),08/2012,NaN,NaN,Public Servant,AO5-AO7,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,False,False,False,Male,56-60,NaN,NaN,NaN,NaN,NaN
2,3,Voluntary Early Retirement (VER),05/2012,2011.0,2011.0,Schools Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,False,False,True,Male,61 or older,NaN,NaN,NaN,NaN,NaN

In [85]:
tafe_survey_updated = tafe_survey.drop(tafe_survey.columns[17:66], axis=1)

In [87]:
tafe_survey_updated.head(3)

,Record ID,Institute,WorkArea,CESSATION YEAR,Reason for ceasing employment,Contributing Factors. Career Move - Public Sector,Contributing Factors. Career Move - Private Sector,Contributing Factors. Career Move - Self-employment,Contributing Factors. Ill Health,Contributing Factors. Maternity/Family,...,Contributing Factors. Study,Contributing Factors. Travel,Contributing Factors. Other,Contributing Factors. NONE,Gender. What is your Gender?,CurrentAge. Current Age,Employment Type. Employment Type,Classification. Classification,LengthofServiceOverall. Overall Length of Service at Institute (in years),LengthofServiceCurrent. Length of Service at current workplace (in years)
0,6.341330e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Female,26 30,Temporary Full-time,Administration (AO),1-2,1-2
1,6.341337e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Retirement,-,-,-,-,-,...,-,Travel,-,-,NaN,NaN,NaN,NaN,NaN,NaN
2,6.341388e+17,Mount Isa Institute of TAFE,Delivery (teaching),2010.0,Retirement,-,-,-,-,-,...,-,-,-,NONE,NaN,NaN,NaN,NaN,NaN,NaN